*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header{
    background-color: gray;
    text-align: center;
    width: 100%;
    padding: 1%;
    nav{
        display: flex;
        width: 100%;
        .icono{
            width: 18%;
            margin: 1vw;
            display: flex;
            justify-content: center;
            img{
                padding: 0;
                width: 10vw;
                transition: all 0.5s;
            }
            img:hover{
                scale: 1.2;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: end;
            display: flex;
            width: 100%;
            li{
                list-style-type: none;
                padding: 1vh;
                a{
                    font-size: 1.8vw;
                    padding: 1vw;
                    margin: 1vw;
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s;
                    border-radius: 10px;
                }
                a:hover{
                    color: black;
                    background-color: white;
                }
            }
            .BtnCerrar{
                display: none;
                width: 100%;
                color: white;
                background-color: black;
                border: solid 2px darkslategrey;
                i{
                    scale: 2;
                    padding: 2vw;
                }
            }
        }
        button{
            color: white;
            background-color: black;
            border: solid 2px darkslategrey;
            display: none;
            font-size: 4vw;
            i{
                padding: 2vw;
                scale: 2;
            }
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    .servicios{
        h2{
            margin: 5vh;
            text-align: center;
            font-size: 8vw;
        }
        .carrusel{
            margin: 5vw;
            #contenidoCarrusel{
                h5{
                    color: black;
                    font-size: 6vw;
                }
                p{
                    color: black;
                    font-size: 3vw;
                }
            }
        }
    }
    .m-v{
        display: flex;
        .mision{
            padding: 3vw;
            h3{
                text-align: center;
                font-size: 4vw;
                margin: 0;
                padding: 1vw;
            }
            p{
                font-size: 1.5vw;
                margin: 0;
                padding: 2vh;
                flex-wrap: wrap;
            }
            div{
                margin: 4vw;
                display: flex;
                justify-content: center;
                img{
                    height: 25vh;
                    transition: all 0.8s;
                    padding: 1vw;
                }
                img:hover{
                    scale: 1.2;
                }
            }
        }
        .vision{
            padding: 3vw;
            h3{
                text-align: center;
                font-size: 4vw;
                margin: 0;
                padding: 1vw;
            }
            p{
                font-size: 1.5vw;
                padding: 2vh;
                margin: 0;
                flex-wrap: wrap;
            }
            div{
                margin: 4vw;
                display: flex;
                justify-content: center;
                img{
                    height: 25vh;
                    transition: all 0.8s;
                    padding: 1vw;
                }
                img:hover{
                    scale: 1.2;
                }
            }
        }
    }
}
footer{
    background-color: black;
    color: white;
    .info-footer{
        display: flex;
        justify-content: space-evenly;
        .redes{
            padding: 1%;
            h4{
                padding: 1vw;
                margin: 1vw;
                font-size: 2vw;
                flex-wrap: wrap;
            }
            ul{
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                margin-top: 2vw;
                padding: 0;
                li{
                    list-style-type: none;
                    padding: 2vw;
                    transition: all 0.8s;
                    a{
                        padding: 2vh;
                        margin: 1vh;
                        text-decoration: none;
                        color: white;
                        transition: all 0.5s;
                        border-radius: 50%;
                        border: solid 3px white;
                        i{
                            scale: 1.5;
                        }
                    }
                    a:hover{
                        color: black;
                        background-color: white;
                    }
                    .face:hover{
                        color: blue;
                    }
                    .ig:hover{
                        color: deeppink;
                    }
                    .tt:hover{
                        color:darkslategrey;
                    }
                }
            }
            div{
                width: 100%;
                display: flex;
                justify-content: center;
                a{
                    .volver{
                        padding: 1%;
                        margin: 1vw;
                        color: white;
                        width: 5vw;
                        transition: all 0.5s;
                        background-color: black;
                        border: solid 3px gray;
                    }
                    .volver:hover{
                        color: black;
                        background-color: white;
                    }
                }
            }
        }
        .contacto{
            display: flex;
            flex-direction: column;
            padding: 1vw;
            div{
                display: flex;
                i{
                    scale: 1;
                }
            }
            h4{
                padding: 1vw;
                margin: 1vw;
                font-size: 2vw;

            }
            p{
                padding: 1vw;
                margin: 1vw;
                font-size: 1.2rem;
                flex-wrap: wrap;
                a{
                    padding: 1vw;
                    margin: 2vw;
                    color: white;
                    transition: all 0.5s;
                    border-radius: 60%;
                    border: solid 2px white;
                    i{
                        scale: 1.4;
                    }
                }
                a:hover{
                    color: green;
                    background-color: white;
                }
            }
            .correo{
                i{
                    scale: 1.2;
                }
                a{
                    border: 0;
                    border-radius: 0;
                    text-decoration: none;
                    padding: 1vw;
                    margin: 0;
                }
                a:hover{
                    text-decoration: underline;
                    background-color: black;
                    color: white;
                }
            }
            .direccion{
                i{
                    scale: 1.2;
                }
                a{
                    border: 0;
                    border-radius: 0;
                    text-decoration: none;
                    padding: 1vw;
                    margin: 0;
                }
                a:hover{
                    text-decoration: underline;
                    background-color: black;
                    color: white;
                }
            }
        }
        .geo{
            flex-grow: 1;
            padding: 1%;
            h4{
                padding: 1vw;
                margin: 1vw;
                font-size: 2vw;
            }
            div{
                display: flex;
                justify-content: center;
            }
        }
    }
    .derechos{
        padding: 1px;
        text-align: center;
        font-size: smaller;
        z-index: 1;
        bottom: 0;
        left: 0;    
        position: static;
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }
}
@media (max-width:1050px) {
    main{
        .m-v{
            display: flex;
        }
    }
    footer{
        text-align: center;
        .info-footer{
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width:600px) {
    header{
        display: flex;
        justify-content: center;
        nav{
            display: flex;
            flex-direction: column;
            .icono{
                padding: 1%;
                width: 100%;
                img{
                    width: 30vw;
                }
            }
            ul{
                width: 100%;
                opacity: 0;
                visibility: hidden;
                li{
                    a{
                        font-size: 5vw;
                    }
                }
                .BtnCerrar{
                    justify-content: center;
                    display: flex;
                    font-size: 4vw;
                }
            }
            button{
                display: block;
            }
        }
    }
    /*CLASES QUE SE AGREGARAN CON JS*/
    .ocultar{
        display: none;
    }

    .visible{
        display: block;
        opacity: 1;
        visibility: visible;
    }
    main{
        text-align: center;
        .servicios{
            h2{
                font-size: 14vw;
            }
        }
        .m-v{
            display: flex;
            flex-direction: column;
            .mision{
                h3{
                    font-size: 10vw;
                }
            }
            .vision{
                h3{
                    font-size: 10vw;
                }
            }
        }
    }
    footer{
        text-align: center;
        .info-footer{
            display: flex;
            flex-direction: column;
            .redes{
                div{
                    a{
                        .volver{
                            width: 10vw;
                            margin: 8vw;
                            i{
                                scale: 1.2;
                            }
                        }
                    }
                }
            }
        }
        .geo{
            div{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media (max-width:600px) {
    main{
        .m-v{
            .mision{
                p{
                    font-size: 5vw;
                }
            }
            .vision{
                p{
                    font-size: 5vw;
                }
            }
        }
    }
    footer{
        .info-footer{
            .redes{
                h4{
                    font-size: 6vw;
                    padding: 3vw;
                    margin: 3vw;
                }
            }
            .contacto{
                h4{
                    font-size: 6vw;
                    padding: 3vw;
                    margin: 3vw;
                }
            }
            .geo{
                h4{
                    font-size: 5vw;
                    padding: 3vw;
                    margin: 3vw;
                }
            }

        }
    }
}
